.navbar {
  /* background-color: #cfbad8; */
  background-color: white;
  opacity: 0.9;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 9999;
  height: 3em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: center;
  border-bottom: 1px solid white;
  justify-items: center;
}

.navbar-item {
  /* background-color: #cfbad8; */
  text-align: center;
  opacity: 1;
  /* border: 1px dotted #33dfd6c2;
  border-radius: 20%; */
  color: #01918ac2;
  width: 40%;
  padding: 1%;
  box-sizing: border-box;
  font-weight: bold;
  align-self: center;
  text-decoration: none;
}

.navbar-item:hover {
  transform: scale(1.2);
  color: black;
}
